extends ../layout

block content
  .container
    h1.main-title Edit Register
    form(action=`/registers/${register.id}`, method="POST")
      input(type="hidden", name="_method", value="PUT")
      include _form
      button.btn.btn-outline-secondary(type="submit") Update Your Register