extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/registers', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    h1.main-title 
      | Contests
      if registers.total > 0
        .small Total #{registers.total} register(s)

    if registers.total <= 0 
      .alert.alert-info No contests available yet
    else
      .registers
        each register in registers.docs
          .register
            a.title(href=`/registers/${register.id}`)= register.name
            include _register

      +paginate(registers, '/registers', regist)

    hr
    a.btn.btn-primary(href='/registers/new') Register Contest
