extends ../layout

block content
  .container
    h1.main-title New Contest
    form(action="/registers", method="POST")
      include _form
      button.btn.btn-outline-secondary(type="submit") Register Your Contest