extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  .container
    .row
      .col-md-6
        h3 서비스 목적
        p 여러 분야의 공모전을 한 눈에 검색해서 모아볼 수 있습니다. 
      .col-md-6
        h3 주요 기능
        ul
          li 공모전 등록/검색/수정/삭제
          li 댓글 등록/삭제
          li 사용자 관리/인증